body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

footer, header {
  background-color: #3f3f3f;
  color:white;
}

.container {
  max-width: 1440px !important;
}

.has-search {
  position: relative;
}

.has-search .form-control {
  padding-left: 2.375rem;
  padding-right: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.fa-times {
  position: absolute;
  right: 6%;
  color: #aaa;
}

.fa-keyboard {
  position: absolute;
  top: 2%;
  right: 2%;
}

.btn {
    background-color: #3f3f3f !important;
    color: white !important;
}