body {
  color: white !important;
  height: 100vh;
  font-size: 1.5rem;
  transition: top 1s ease-out 0.5s;
}

.container {
  max-width: 1440px !important;
}

.form-control {
  width: 27.4rem;
  border: .1rem solid rgba(180,184,187,.7);
  border-radius: .5rem 0 0 .5rem;
  padding: 1.3rem 1.5rem;
  background-color: transparent !important;
  font-family: inherit;
  font-size: 1.4rem;
  color: #fff !important;
}

.btn {
  padding: 5px 20px !important;
  color: white !important;
  box-shadow: 0 0px 3px 0 white !important;
}

.active {
  background-color: #a0a0a04a;
}

.microphone {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 4rem;
}

.fa-microphone {
  top: 0.7rem !important;
  right: 0.5rem !important;
  position: absolute;
}

.input-group-text {
  background-color: transparent !important;
}

.fa-microphone {
  color: white;
}

.weather-location {
  font-size: 3rem;
  font-weight: 700 !important;
}

.weather-time {
  font-size: 2.2rem;
  text-transform: capitalize;
  font-weight: 400;
}

.weather-temperature {
  font-size: 13rem;
}

.card {
  background-color: transparent !important;
}

.forecast_temperature {
  font-size: 4rem;
}

.map {
  width: 512px;
  height: 512px;
  mask-image: url(/src/images/mask.svg);
  background-size: cover;
  mask-size: cover;
  background-position: center;
  mask-position: center right;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-clip: padding-box;
}
